
.drag-handle
  position absolute
  right 0
  top 0
  width 3px
  bottom 0
  // cursor ew-resize
  display none
  z-index 201
  overflow hidden
  &.dragging
    background #2FA8D6
    box-shadow 0 0 0 1px rgba(47, 168, 214, .28)
