.input-confirm
  width 100%
  display flex
  gap 8px
  padding 8px
  border 1px solid var(--ios-border)
  border-radius var(--ios-radius)
  background rgba(255, 255, 255, .76)
  .ant-input-number
    flex 1
