
.add-menu-wrap
  position fixed
  z-index 1000
  background rgba(255, 255, 255, .90)
  backdrop-filter blur(20px)
  border 1px solid var(--ios-border)
  border-radius var(--ios-radius)
  box-shadow var(--ios-shadow)
  min-width 300px
  max-width 600px
  overflow hidden
  margin-top 6px
  padding 8px 15px
  display flex
  flex-direction column
  .drag-handle
    right 3px
    display block
  .add-menu-header
    flex-shrink 0
    color #13242F
    font-weight 800
  .add-menu-list
    flex 1
    overflow hidden
    display flex
    flex-direction column
    min-height 0
    .sidebar-panel-history
      position relative
      top auto
      left auto
      right auto
      bottom auto
      flex 1
      min-height 0
