
// from https://freefrontend.com/css-border-animations/
.morph-shape
  background linear-gradient(135deg, #2BA7D9 0%, #31C176 100%)
  border-radius 60% 40% 30% 70% / 60% 30% 70% 40%
  transition all 1s ease-in-out
  z-index 5
  box-shadow 0 16px 30px rgba(47, 168, 214, .18)
