.right-side-panel
  position absolute
  right 0
  top 48px
  bottom 0
  z-index 200
  background #F7FAFC
  backdrop-filter blur(18px)
  color #172B36
  border-left 1px solid #E6EEF3
  box-shadow -12px 0 20px rgba(34, 50, 61, .11)
  &.right-side-panel-pinned
    top 0

  .drag-handle
    left 0
    right auto
    display block
.right-panel-title
  border-bottom 1px solid #E6EEF3
  font-weight 800
  color #13242F
.right-side-panel-controls
  color #6D7E8A
  font-size 16px
  &:hover
    color #31C176
    cursor pointer
  &.right-side-panel-pin
    &.pinned
      color #31C176
.right-side-panel-content
  padding 14px
  overflow-y scroll
  position absolute
  left 0
  top 55px
  right 0
  bottom 0
.animate-fast
  animation-duration .2s
