.theme-editor-txt
  padding 12px
  border 1px solid rgba(218, 230, 238, .86)
  border-radius 8px
  background rgba(255, 255, 255, .82)
  box-shadow 0 8px 18px rgba(49, 66, 77, .07), inset 0 1px 0 rgba(255, 255, 255, .9)
  .editor-u-textarea
    display block !important
  .editor-u-picker
    display none !important
.theme-editor-color-picker
  padding 12px
  border 1px solid rgba(218, 230, 238, .86)
  border-radius 8px
  background rgba(255, 255, 255, .82)
  box-shadow 0 8px 18px rgba(49, 66, 77, .07), inset 0 1px 0 rgba(255, 255, 255, .9)
  .editor-u-textarea
    display none !important
  .editor-u-picker
    display block !important
